{
    "name": "test-valkey",
    "serviceType": "VALKEY",
    "provider": "tkgs",
    "dataPlaneId": "$dp1_id",
    "instanceSize": "XX-SMALL",
    "tags": [],
    "dedicated": false,
    "networkPolicyIds": ["$allow_all_policy_id"],
    "version": "7.2.6",
    "storagePolicyName": "$storage_policy",
    "shared": true,
    "clusterMetadata": {
        "username": "admin",
        "password": "CHANGE",
        "deploymentType": "standalone"
    }
}
